.search-text,
.search-button,
.search-city,
.form-control {
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px 5px;
}

.search-text {
  box-sizing: content-box;
  width: 50%;
}
.search-button {
  background: #d946b5;
  color: white;
  cursor: pointer;
  transition: all 200ms ease;
}

.search-button:hover {
  background: transparent;
  border: 1px solid white;
  color: black;
}

.current-city {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  text-align: left;
  font-size: 80px;
  margin: 30px 0 30px 0;
}

.Weather .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}
.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.current-icon,
.current-temp {
  margin-bottom: 10px;
}

.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}

.current-temp {
  font-size: 120px;
  font-weight: 300;
  text-align: start;
}

.current-weather::first-letter {
  text-transform: capitalize;
}
.Weather .weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
